<%= form_for(@message) do |f| %>
<%= hidden_field(:message, :from, :value => current_student.email ) if current_student%>
<%= hidden_field(:message, :student_id, :value => current_student.id ) if current_student%>
<%= hidden_field(:message, :from, :value => current_user.email ) if current_user%>
<%= hidden_field(:message, :category, :value => 1 )%>
<div class="field">
  <%=f.label :to%><br>
  <%= f.text_field :to %>
</div>
<div class="field">
  <%=f.label :Project_Title%><br>
  <%= f.text_field :project_name %>
</div>
<div class="field">
  <%=f.label :Project_Description%><br>
  <%= f.text_area :project_description %>
</div>
 <div class="actions">
   <%= f.submit "send request"%>
 </div>
<%end%>
