
<%= form_for(@relate ,url: relate_index_path) do |f| %>
  <% if @relate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@relate.errors.count, "error") %> prohibited relations from being saved:</h2>
      <ul>
      <% @relate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Student_regno %><br>
    <%= f.number_field :regno %>
  </div>

  <div class="field">
    <%= f.label :Staff_emp_id %><br>
    <%= f.text_field :emp_id %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
