<% if !@abstract.errors.empty? %>
   <div class = "alert alert-error">

      <ul>
         <% @abstract.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>

   </div>
<% end %>

<div class = "well">
  <%if current_student.project == nil %>
      <h5 align="center">Form team and Enter project details</h5>
  <% else %>
   <%= form_for @abstract, html: { multipart: true } do |f| %>
      <%= hidden_field(:abstract, :project_id, :value => current_student.project.id)%>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <br>
      <%= f.label :attachment %>
      <%= f.file_field :attachment %>
      <br>
      <%= f.submit "Save", class: "btn btn-primary" %>
   <% end %>

  <% end %>
</div>
